---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=74487dc686eb52026cec8112d8fe98f5&exclude=minutely&lat=38.265425&lon=-104.610415&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.27,"lon":-104.61,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1596601658,"sunrise":1596542635,"sunset":1596593100,"temp":69.89,"feels_like":60.39,"pressure":1020,"humidity":68,"dew_point":58.86,"uvi":10.9,"clouds":40,"visibility":10000,"wind_speed":21.92,"wind_deg":90,"wind_gust":32.21,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}]},"hourly":[{"dt":1596600000,"temp":69.89,"feels_like":69.3,"pressure":1020,"humidity":68,"dew_point":58.86,"clouds":40,"visibility":10000,"wind_speed":6.11,"wind_deg":36,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0.52},{"dt":1596603600,"temp":70.27,"feels_like":70.56,"pressure":1020,"humidity":61,"dew_point":56.19,"clouds":63,"visibility":10000,"wind_speed":2.93,"wind_deg":167,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0.5},{"dt":1596607200,"temp":70.57,"feels_like":67.71,"pressure":1019,"humidity":57,"dew_point":54.63,"clouds":76,"visibility":10000,"wind_speed":7.61,"wind_deg":213,"weather":[{"id":803,"main":"Clouds","description":"broken
        clou[...]
